body {
  margin: 0;
  padding: 0;
  background-color: #000;
  overflow: hidden;
}

.app, #game, #root, #loading {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  position: absolute;
  top: 0;
  left: 0;
}

#loading {
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    animation: fadeIn 2s ease-out;
    display: flex;
  }
}

#root {
  z-index: 5;
  animation: fadeOut 0.1 linear;
  display: flex;
  align-content: center;
}

#game {
  z-index: 1;
}

.hidden {
  display: none;
}

.app {
  display: block;
  position: fixed;
  margin: 0;
  padding: 0;

  canvas {
    display: block;
    animation: fadeIn 0.5s ease-out;
  }

  &__loading {
    color: #fff;
    flex: 1;
    text-align: center;

    img {
      max-width: 30%;
    }
  }


  &--paused {
    #root {
      background: rgba(0, 0, 0, 0.5);
      animation: fadeInMildly 0.1s linear;
      opacity: 1;
    }
  }
}

@keyframes fadeIn {
  0% {
      display: none;
      opacity: 0;
  }

  1% {
      display: block;
      opacity: 0;
  }

  100% {
      display: block;
      opacity: 1;
  }
}

@keyframes fadeInMildly {
  0% {
      display: none;
      background: rgba(0, 0, 0, 0);
      opacity: 0;
  }

  1% {
      display: block;
      background: rgba(0, 0, 0, 0);
      opacity: 0;
  }

  100% {
      display: block;
      background: rgba(0, 0, 0, 0.5);
      opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
      opacity: 1;
  }

  99% {
      display: none;
      opacity: 0;
  }

  100% {
      display: none;
      opacity: 0;
  }
}
